* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

li {
  list-style-type: none;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #272727;
  box-shadow: 0 4px #272727;
  color: rgb(245, 246, 247);
  background-color: #14a76c;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(245, 246, 247);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  margin-left: 1rem;
}

.navbar__link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #475569;
  text-decoration: none;
}

.navbar__link:hover {
  color: #482ff7;
}

@media only screen and (max-width: 720px) {
  .logo {
    width: 3.5rem;
  }

  nav {
    height: 5rem;
  }

  .navbar__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar__menu.active {
    left: 0;
  }

  .navbar__item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: #272727;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .personal-photo {
    width: 200px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 721px) {
  .logo {
    width: 3.5rem;
  }

  nav {
    position: fixed;
    width: 100%;
  }

  nav.scroll {
    background-color: rgb(245, 246, 247);
  }
}

/* Main section */
/* Intro */
@media only screen and (max-width: 720px) {
  .main-heading {
    text-align: center;
    padding-top: 2rem;
    color: #272727;
  }

  .sub-heading {
    text-align: center;
    color: #14a76c;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    align-items: flex-start;
    align-items: center;
    background-color: rgb(245, 246, 247);
    padding: 2rem;
    border-radius: 10px;
  }

  body {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 721px) {
  .main-heading {
    padding-top: 8rem;
  }
}

/* Skills */
@media only screen and (max-width: 720px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgb(245, 246, 247);
    padding: 2rem 0;
  }

  .skills__header {
    color: #272727;
  }

  .skills__list {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    color: #272727;
  }
}

/* Projects */
@media only screen and (max-width: 720px) {
  .projects {
    padding: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 246, 247);
    margin: 1rem;
    border-radius: 10px;
    gap: 1rem;
    color: #272727;
  }

  .projects__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .divider {
    width: 100%;
    background-color: white;
    height: 2px;
  }
}

/* Contact */
.contact a {
  text-decoration: none;
  color: #272727;
}

@media only screen and (max-width: 720px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(245, 246, 247);
    padding: 2rem 0;
  }

  .contact a i {
    font-size: 2.5rem;
  }
}

/* Copyright */
.copyright {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  color: #272727;
}
